:root {
  --color-blue: #458FCD;
  --color-red: #D72134;
  --color-background: #FAFAFA;
  --color-error: #FF4D49;
}

.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .container-sendotp {
  display: flex;
  flex-direction: column;
  min-width: 512px;
  min-height: 556px;
  height: auto;
  border-radius: 24px;
  overflow: hidden;
  background: var(--color-background);
}
.background .container-sendotp-top {
  height: 160px;
  width: 100%;
  background: var(--color-red);
}
.background .container-sendotp-body {
  position: relative;
  width: 100%;
}
.background .container-sendotp-body .circle-icons {
  width: 200px;
  height: 200px;
  padding: 48px;
  background: var(--color-background);
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.background .container-sendotp-body .circle-icons img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px;
}
.background .container-sendotp-body .wrapper-sendotp {
  margin: 120px 56px 80px 56px;
}
.background .container-sendotp-body .wrapper-sendotp .title {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-blue);
  letter-spacing: 0.15px;
  text-align: center;
  margin-bottom: 32px;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field {
  position: relative;
  width: 100%;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input {
  width: 100%;
  height: 58px;
  padding: 0px 12px;
  border-radius: 8px;
  transition: 0.25s ease;
  border: 2px solid var(--color-blue);
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input:focus, .background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input:active {
  border-color: var(--color-blue);
  outline: none;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input + .form-label {
  top: 0px;
  padding: 0 5px;
  display: inline-block;
  color: var(--color-blue);
  background-color: var(--color-background);
  transition: 0.25s ease;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input.error {
  border-color: var(--color-error);
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-input.error + .form-label {
  color: var(--color-error);
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  color: var(--color-blue);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .form-field .form-label.error {
  color: var(--color-error);
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .information {
  font-weight: 400;
  font-size: 12px;
  color: #79869E;
  letter-spacing: 0.4px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .buttons #btnCancel {
  width: 45%;
  height: 40px;
  padding: 8px 34px;
  text-align: center;
  border-radius: 8px;
  background: var(--color-background);
  border: 1px solid var(--color-red);
  box-shadow: 0px 4px 10px rgba(76, 78, 100, 0.15);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-red);
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.background .container-sendotp-body .wrapper-sendotp #form-sendotp .buttons #btnSendotp {
  width: 45%;
  height: 40px;
  padding: 8px 34px;
  text-align: center;
  border-radius: 8px;
  background: #B91E2D;
  box-shadow: 0px 4px 10px rgba(76, 78, 100, 0.15);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-background);
}
.background .container-sendotp .error-message {
  width: 100%;
  display: block;
  text-align: center;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-size: 14px;
  color: #FF4D49;
  margin-bottom: 40px;
  opacity: 0;
  visibility: hidden;
}
