@mixin flex($type) {
    display: flex;
    justify-content: center;
    align-items: center;
    @if($type =='row') {
        flex-direction: row;
    }
    @else {
        flex-direction: column;
    }
}

@mixin width-height($width, $height) {
    width: $width;
    height: $height;
}

.loader-page {
    position: fixed;
    top: 0;
    left: 0;
    @include width-height(100vw, 100vh);
    @include flex('row');
    background: #333333;
    transition: opacity 0.75s, visibility 0.75s;

    &.loader-page--hidden {
        opacity: 0;
        visibility: hidden;
    }

    &::after {
        content: "";
        @include width-height(75px,75px);
        border: 15px solid #dddddd;
        border-top-color: #009578;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
